<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnkFhSvz34ecvu-01y9U_9ZRe7VA4SPRk</string>
	<key>GCM_SENDER_ID</key>
	<string>14660040615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookbook</string>
	<key>PROJECT_ID</key>
	<string>kucharka-38edb</string>
	<key>STORAGE_BUCKET</key>
	<string>kucharka-38edb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14660040615:ios:2efa2d7b4b49d491fbe882</string>
	<key>DATABASE_URL</key>
	<string>https://kucharka-38edb-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>